[Interface]
PrivateKey = {{ lookup('file', '/etc/wireguard/private.key') }}
Address = 10.0.0.1/24
ListenPort = 51820

[Peer]
PublicKey = {{ lookup('file', '/etc/wireguard/client1_public.key') }}
AllowedIPs = 10.0.0.2/32