[Interface]
PrivateKey = {{ lookup('file', private_path) }}
Address =  10.0.0.{{ number.stdout | int + 2 }}/24
DNS = 8.8.8.8, 77.88.8.8
[Peer]
PublicKey = {{ lookup('file', '/etc/wireguard/public.key') }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ ansible_facts['default_ipv4']["address"] }}:51820